body{
  color: yellow;  
  background: #000000;
}
.navbar{
  display: flex;
  justify-content: center; 
  width: 100%;
  align-items: center;
}

.navbar div{ 
  font-weight: bold; 
  font-size: 3em; 
  padding: 10px;
}
.navbar div a{
  text-decoration: none;
  padding-left: 50px; 
  padding-right: 50px; 
  color: white;
} 

#content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.item{
  flex: 200px;
}

.item a{
  flex: 200px;
  text-decoration: none;
}
.item:hover{
  -moz-transform: scale(1.025);
}

.active{
  background: blue;
  color: white;
}
